- Plate.obtener_tipos(@horario.to_i).each do |tipo|
  %p=tipo[0]
  - a = tipo[1].to_s
  = select(:regPlates, a, @plates.where(:tipo => tipo).collect {|p| [ p.nombre, p.id ] }, {:prompt => 'Seleccione un Plato'})