:css
  .btn a:visited {
  color: #FFF !important;
  }

  .btn a {
  color: #FFF !important;
  }

%h1 Listing regimes

%table.table-hover
  %tr
    %th Nombre
    %th
    %th

  - @regimes.each do |regime|
    %tr
      %td= regime.nombre
      %td
        %a.btn{ :href => "#{edit_regime_path(regime)}"}
          %i.icon-edit
          Editar      
      %td
        %a.btn.btn-danger{ :href => "#{regime_path(regime)}", "data-method" => :delete, :data => { :confirm => 'Are you sure?' }}
          %i.icon-remove   


%hr

%a.btn{ :href => "#{new_regime_path}" }
  %i.icon-plus
  Nuevo Regimen

