%legend Ingredientes
= label_tag(:fecha, "Fecha:")
%input{"data-behaviour" => "datepicker", :type => "text", :data_url => "#{regime_stats_path}"}/
:javascript
  $(function() {
  $('[data-behaviour~=datepicker]').datepicker({
    format: 'dd/mm/yyyy'
  }).on('changeDate', function(ev) {
    $('#mensaje').hide();

    url = '/ingredientsPanel?date=' + $(this).val();
    $.get(url, function(data) {
      $('#ingredientes').html(data);
      });
    //url = '#{regime_stats_path}?date=' + $(this).val();
    //$.get(url, function(data) {
    //  $('#estadistica').html(data);
    //  });
    return true;
  });

  });
%br
%div#ingredientes
%br
%legend Estadísticas
%div#estadistica
%br
.alert#mensaje  
  %button.close{"data-dismiss" => "alert", :type => "button"} ×
  %h5 
    %i.icon-info-sign
    ¿Ver estadísticas?
  Selecione una fecha para ver las estadísticas del sistema.

