.tabbable
  / Only required for left/right tabs
  %ul.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", :href => "#tab1"} Ordenes
    %li
      %a{"data-toggle" => "tab", :href => "#tab2"} Vouchers
    %li
      %a{"data-toggle" => "tab", :href => "#tab3"} Compras
    %li
      %a{"data-toggle" => "tab", :href => "#tab4"} Estadisticas

  .tab-content{ :style => "overflow: hidden;"}
    #tab1.tab-pane.active
      Pedidos
    #tab2.tab-pane
      Vouchers
    #tab3.tab-pane
      Compras
    #tab4.tab-pane
      = label_tag(:fecha, "Fecha:")
      %input{"data-behaviour" => "datepicker", :type => "text", :data_url => "#{regime_stats_path}"}/
      :javascript
        $(function() {
        $('[data-behaviour~=datepicker]').datepicker({
          format: 'dd/mm/yyyy'
        }).on('changeDate', function(ev) {
          url = '#{regime_stats_path}?date=' + $(this).val();
          $.get(url, function(data) {
            $('#estadistica').html(data);
            });
          return true;
        });
        // $('[data-behaviour~=datepicker]').val("#{@date}")

        });
      %div#estadistica