
%p= link_to "Importar Pacientes", new_patient_import_path, :class => 'btn btn-primary'

%br

%table.table.table-condensed
  %tr
    %th Nombre
    %th Num pieza

  - @patients.each do |patient|
    %tr
      %td= patient.nombre
      %td= patient.num_pieza

%br
