/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap-datepicker
*/

.content {
  background-color: rgb(252, 252, 252);
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
  min-height: 300px;
}

.accordion-body{
  
  background-color: rgb(255, 255, 255);
}

.brand2{
  position: relative;
  float:left;
}

.logo{
  height: 70px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.navbar-text{
  color: white !important;
  font-size: 16px;
}

.navbar-text:hover{
  color: #6cb32f !important;
  text-shadow: 0 0 20px white !important;
}

.navbar{  
 background: #6cb32f;


}

.navbar.navbar-fixed-top{
  background: rgb(130,130,130); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(130,130,130,1) 0%, rgba(93,95,96,1) 50%, rgba(56,66,75,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(130,130,130,1)), color-stop(50%,rgba(93,95,96,1)), color-stop(100%,rgba(56,66,75,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(130,130,130,1) 0%,rgba(93,95,96,1) 50%,rgba(56,66,75,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(130,130,130,1) 0%,rgba(93,95,96,1) 50%,rgba(56,66,75,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(130,130,130,1) 0%,rgba(93,95,96,1) 50%,rgba(56,66,75,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(130,130,130,1) 0%,rgba(93,95,96,1) 50%,rgba(56,66,75,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#828282', endColorstr='#38424b',GradientType=0 ); /* IE6-9 */
}

.navbar-inner{
  background: none !important;
  border: none !important;
}

.nav-tabs a{
  
color: rgb(245, 255, 229);
text-decoration: none;
background-color: rgb(58, 170, 15);
}

#main{
  margin-top: 20px;
  background: #6cb32f;
  min-height: 500px;
}

#nav_account{
  margin-left: 69%;
}

.nav{
  -webkit-border-radius: 15px 55px 5px;
  background-color: rgb(253, 253, 253);
  border: 1px rgb(22, 20, 20);
  margin-top: 15px !important;
  margin-left: 20px !important;
  width: 80%;
}

.nav.acc{
  margin-top: 0px !important;
}