// Place all the styles related to the OrderLists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
li.span4{
	background-color: white;
	border-radius: 5px;
}

li.span4.select{
	background-color: #6cb32f;
	h3{
		color: white;
	}
}