// Place all the styles related to the OrderLists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.thumbnail{
	background-color: white;
	border-radius: 5px;
}

.thumbnail.select{
	background: rgb(125,185,232); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(125,185,232,1) 0%, rgba(30,87,153,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(125,185,232,1)), color-stop(100%,rgba(30,87,153,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(125,185,232,1) 0%,rgba(30,87,153,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(125,185,232,1) 0%,rgba(30,87,153,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(125,185,232,1) 0%,rgba(30,87,153,1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(125,185,232,1) 0%,rgba(30,87,153,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	h4{
		color: white;
	}
}